@page
@model Library.Pages.DetailsBookModel
@{
}
@*Форма для вывода информации о книги*@
<h3 class="display-4">Details Books</h3>
<table>
    <track>
    <td>Name</td>
    <td>@Model.LS.CurrenBook.Name</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>@Model.LS.CurrenBook.Author</td>
    </tr>
    <tr>
        <td>Style</td>
        <td>@Model.LS.CurrenBook.Style</td>
    </tr>
    <tr>
        <td>Publisher</td>
        <td>@Model.LS.CurrenBook.Publisher</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>@Model.LS.CurrenBook.Year</td>
    </tr>
</table>
<br>
@*Кнопка возврата на основную страницу*@
<form>
    <button a asp-page="/Index" class="btn btn-primary">Back</button>
</form>