@page
@model Library.Pages.EditBookModel
@{
    ViewData["Title"] = "EditBook";
}
@*Форма для редактирования книги с заполненными данными об выбранной книги*@
<h3 class="display-4">Edit Books</h3>
<div class="list-group-item d-flex justify-content-between">
    <form asp-page-handler="EditBook" method="post">
        <div class="form-group">
            <label>Name:</label><br>
            <input class="text" name="name" value="@Model.LS.CurrenBook.Name" />
        </div>
        <div class="form-group">
            <label>Author:</label> <br>
            <input <input class="text" name="author" value="@Model.LS.CurrenBook.Author" />
        </div>
        <div class="form-group">
            <label>Style:</label> <br>
            <input class="text" name="style" value="@Model.LS.CurrenBook.Style" />
        </div>
        <div class="form-group">
            <label>Publisher:</label> <br>
            <input class="text" name="publisher" value="@Model.LS.CurrenBook.Publisher" />
        </div>
        <div class="form-group">
            <label>Year:</label> <br>
            <input class="text" name="year" value="@Model.LS.CurrenBook.Year" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<br>
@*Кнопка возврата на основную страницу*@
<form>
    <button a asp-page="/Index" class="btn btn-primary">Back</button>
</form>