@page
@model IndexModel
@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    <h1 class="display-4">Library</h1>
</div>
<h3 class="display-4">Books</h3>
@*Форма поиска*@
<form asp-page-handler="SearchBook" method="post">
    <div class="form-group">
        @Html.DropDownList("select", new SelectList(new string[] {"Name", "Author", "Style", "Publisher", "Year"}), "All")
        <input class="text" name="search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
@*Кнопка перехода на форму добавления книги*@
<div>
    <form>
        <button a asp-page="/AddBook" class="btn btn-primary">Add Book</button>
    </form>
<br>
@*Вывод списка книг*@
<table>
    @foreach (var book in Model.LS.SearchList)
    {  
    <tr>
        @*Название книги*@
        <td> <h4>@book.Key</h4> </td>
        @*Кнопка перехода на форму описания книги*@
        <td>
            <form method="post">
               <a asp-page="/DetailsBook" asp-route-name="@book.Key" class="btn btn-primary">Details</a>
            </form>
        </td>
        @*Кнопка перехода на форму редактирования книги*@
        <td>     
            <form method="post">
               <a asp-page="/EditBook" asp-route-name="@book.Key" class="btn btn-primary">Edit</a>
            </form>
        </td>
        @*Кнопка удаления книги с подтверждением*@
        <td>
            <form asp-page-handler="DeleteBook" method="post" asp-route-name="@book.Key" onsubmit="return confirm('Delete?');">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>
</div>
